<h1>Perfil</h1>
<button id="logout">Logout</button>
{{#if user}}
  <p>User: {{user.name.givenName}} {{user.name.familyName}}</p>
  <p>Email: {{user._json.email}}</p>
{{/if}}

<script>
  const logoutButton = document.querySelector('#logout');
  logoutButton.addEventListener('click', () => {
    fetch('/logout', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      }
    }).then(() => {
      window.location.href = '/';
    });
  });
</script>